.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    height: 5%;

    background: #000000;
}

.header__text {
    color: white;
    font-family: 'Open Sans', serif;
    font-style: normal;
}