.main__firstPage {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
}

.main__reviewPage {
    display: flex;
    flex-direction: column;
    /*margin-top: 2%;*/
    margin: 2% 2% 0 2%;
}