.books__book_title {
    color: black;
    font-weight: bold;
}

.books__book_link {
    text-decoration: none;
}

.books__book__right {
    display: flex;
    align-items: center;
}

.books__book_price {
    font-weight: bold;
}

.books__book_text {
    color: rgba(0, 0, 0, 0.5);;
}

.books {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 8px;
    background: white;
    padding: 16px 20px 20px;
    width: 100%;
}